<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body class="auth-body">

<div class="auth-container">

    <div class="auth-card">

        <h1>Welcome Back</h1>

        <p class="subtitle">Login to manage your tasks</p>

        <form method="POST">

            <input type="text" name="username" placeholder="Enter Username" required>

            <input type="password" name="password" placeholder="Enter Password" required>

            <button type="submit" class="auth-btn">Login</button>

        </form>

        <p class="bottom-text">
            Don't have an account?
            <a href="/register">Register</a>
        </p>

    </div>

</div>

</body>
</html>