<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body class="auth-body">

<div class="auth-container">

    <div class="auth-card">

        <h1>Create Account</h1>

        <p class="subtitle">Register to start managing tasks</p>

        <form method="POST">

            <input type="text" name="username" placeholder="Create Username" required>

            <input type="password" name="password" placeholder="Create Password" required>

            <button type="submit" class="auth-btn">Register</button>

        </form>

        <p class="bottom-text">
            Already have an account?
            <a href="/login">Login</a>
        </p>

    </div>

</div>

</body>
</html>